* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#color-palette {
  max-width: 450px;
  display: block;
  margin: auto;
  transition: 0.2s;
}

#board-size {
  padding: 6px;
  border: none;
  width: 110px;
  border-radius: 5px;
  transition: 0.2s;
}

#board-size:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#generate-board {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: blue;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

#generate-board:hover {
  transform: scale(1.1);
}

#clearButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: blue;
  transition: 0.2s;
}

#clearButton:hover {
 background-color: black;
 transform: scale(1.1);
}

#clear-board {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.2s;
}

#clear-board:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
}

div.pixel {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

body {
  align-items: center;
  background-image: url(background.jpeg);
  background-size: 48%;
}

#pixel-board {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pixel {
  background-color: 'white';
  height: 20px;
  width: 20px;
  display: inline-block;
}

.color {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

div {
  line-height: 0;
}

#title {
  margin: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: rgb(0, 26, 255);
  color: #FFFFFF;
  background: #000000;
  text-shadow: 4px 3px 0 #7A7A7A;
}

div.color:hover {
  transform: scale(1.2);
  border-radius: 5px;
  cursor: pointer;
}

#changeCollors {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 15px;
  position: relative;
  animation: mymove 1.3s infinite;
  margin: 2% 33%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

#board-size, #generate-board, #clearButton, #clear-board {
  margin-right: 2vh;
}

@keyframes mymove {
  0%   {
    background-color: rgb(54, 105, 20);
    transform: scale(1.0)
  }
  50% {
    transform: scale(1.1);
    background-color: blue;
  }
  100% {
    background-color: rgb(54, 105, 20);
    transform: scale(1.0)
  }
}

#responsiveDiv{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

#gitHubLogo {
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

#linkperfil {
  font-family: serif;
  font-size: 22px;
  text-decoration: none;
  background-image: linear-gradient(rgb(46, 209, 31), rgb(58, 92, 241));
  /* background-color: rgb(20, 121, 238); */
  border: 0;
  font-family: serif;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  transition: 0.2s;
}

#linkperfil:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 700px) {

  #responsiveDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #board-size {
    margin: auto;
    margin-bottom: 2vh;
  }

  #clear-board {
    margin: auto;
    margin-top: 2vh;
  }
  #generate-board {
    margin: auto;
    margin-bottom: 2vh;
  }

  #changeCollors {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}