* {
  /* background-color: black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.div-mae {
  border-top: solid 0.5em #000000 ;
  border-left: solid 0.5em #000000 ;

  margin: 1em;
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}